services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib
    volumes:
      - ./collector/otel-collector-config.yaml:/etc/otelcol-contrib/config.yaml
    ports:
      - 1888:1888
      - 8888:8888
      - 8889:8889
      - 13133:13133
      - 4317:4317
      - 4318:4318
      - 55679:55679
      - 55680:55680

volumes:
  postgres_data:
